<%- include('partials/head') %>
<html>
<body>
    <div>
        <a href="/blog" class="page-back-link">← <%= t('navigation.allArticles') %></a>
    </div>

    <div class="div blog-article-card" style="width: 70%;">
        <% reports.forEach(report => { %>
        <main class="main blog-article">
                <div class="port" id="markdown">
                    <%- report.html %>
                </div>
            </main>
        <% }) %>
    </div>
    <% if (lang === 'en') { %>
        <script src="/js/blog_article_translation.js"></script>
    <% } %>
    <%- include('partials/foot') %>
</body>
</html>
