<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NO TORSION</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="/favicon.svg"/>
    </head>
    <body>

        <div class="hero">
            <h1>NO TORSION</h1>
            <p>
                每一份真實的聲音，都是終結扭轉與傷害的力量。
            </p>
            <a href="/form" class="btn">參與填表</a>
            <a href="/map" class="btn">查看扭转机构综合地图</a>
            
        </div>

        <div class="footer">
            © 2026 NO TORSION Project. By:<a href="mailto:notorsion@hosinoneko.me">HosinoNeko</a>
        </div>

    </body>
</html>